In [6]:
import pandas as pd
import numpy as np

In [26]:
# leemos el excel
df = pd.read_excel('s1AT.xlsx', engine='openpyxl')

In [27]:
df.dropna(inplace=True)

In [28]:
df[['DAY', 'MONTH', 'AMOUNT']] = df[['DAY', 'MONTH', 'AMOUNT']].astype('int64')

In [29]:
df['COUNTRY'] = df['COUNTRY'].replace('Pto Rico', 'Puerto Rico')

In [36]:
df['HIDDEN'] = df['FINAL PRICE (USD)'] / (df['AMOUNT'] * df['PRICE']) - 1

In [39]:
df

,SALE ID,CUSTOMER,COUNTRY,PRODUCT,DAY,MONTH,YEAR,AMOUNT,PRICE,FINAL PRICE (USD),HIDDEN
0,VTA001,Óscar Martínez,Argentina,Caja de carton pequeña,2,4,YEAR 1,20,120.0,2328.0,-0.03
1,VTA002,Ángela Gutiérrez,Panama,Caja de cartón mediana,5,3,YEAR 1,30,190.0,5700.0,0.00
2,VTA003,Ángel Campos,Uruguay,Caja de carton pequeña,6,8,YEAR 1,50,120.0,5700.0,-0.05
3,VTA004,Álvaro Arce,Colombia,Caja de cartón grande,7,8,YEAR 1,10,250.0,2500.0,0.00
4,VTA005,yasmin Marrapodi blanco,Honduras,Caja de cartón grande,7,8,YEAR 1,15,250.0,3637.5,-0.03
...,...,...,...,...,...,...,...,...,...,...,...
92,VTA058,pablo Morales,Colombia,Caja de cartón grande,20,8,YEAR 2,50,300.0,15000.0,0.00
93,VTA059,daniela bonilla,Honduras,Caja de cartón pequeña,17,8,YEAR 2,10,150.0,1500.0,0.00
94,VTA060,Yoselin Torres,Puerto Rico,Caja de cartón pequeña,11,4,YEAR 2,20,150.0,3000.0,0.00
95,VTA061,Viviana Espinoza,Santo Domingo,Caja de cartón grande,11,4,YEAR 2,30,300.0,9000.0,0.00
96,VTA062,Viviana Contreras,Argentina,Caja de cartón pequeña,12,7,YEAR 2,50,150.0,7500.0,0.00

In [41]:
# 1. 
df[(df['YEAR'] == 'YEAR 2') | (df['YEAR'] == 'YEAR 1')]['COUNTRY'].unique()

array(['Argentina', 'Panama', 'Uruguay', 'Colombia', 'Honduras',
       'Puerto Rico', 'Santo Domingo', 'Panamá', 'Chile', 'Costa Rica'],
      dtype=object)

In [42]:
df[df.YEAR == 'YEAR 0']

,SALE ID,CUSTOMER,COUNTRY,PRODUCT,DAY,MONTH,YEAR,AMOUNT,PRICE,FINAL PRICE (USD),HIDDEN
38,VTAA01,Rolando Sánchez,Paraguay,Caja de cartón mediana,2,1,YEAR 0,40,190.0,6992.0,-0.08
87,VTAA02,silvia santiago,Honduras,Caja de cartón grande,5,3,YEAR 0,50,250.0,12500.0,0.00