In [69]:
import pandas as pd
import numpy as np
import re

In [70]:
def estandarizar_texto(texto : str) -> str:
    """
    Dado un texto lo transforma en texto plano (sin tildes, espacios extra, carácteres especiales, y comas.).

    :param texto: Nombre del script que se está ejecutando.
    :type texto: str
    :returns: El texto plano
    :rtype: str
    :example:

    .. code-block:: python

        text = estandarizar_texto('Nombre, del script que se está ejecutando')
    """
    # funcion que vuelve cualquier texto en texto plano (sin tildes, comas, mayusculas, etc)

    # Convertir todo el texto a minúsculas
    texto = texto.lower()
    
    # Eliminar las , de buena forma
    texto = texto.replace(',', ' ')

    # Eliminar caracteres especiales excepto letras, números y espacios
    texto = re.sub(r'[^\w\s]', '', texto)
    
    # Eliminar tildes
    texto = re.sub(r'[áéíóú]', lambda x: 'aeiou'[('áéíóú'.index(x.group(0)))], texto)
    
    

    # Eliminar espacios extras y espacios al inicio y al final
    texto = re.sub(r'\s+', ' ', texto).strip()
    
    return texto

In [71]:
# leemos el excel
df = pd.read_excel('s1AT.xlsx', engine='openpyxl')

In [72]:
df.dropna(inplace=True)
df[['DAY', 'MONTH', 'AMOUNT']] = df[['DAY', 'MONTH', 'AMOUNT']].astype('int64')
df['COUNTRY'] = df['COUNTRY'].replace('Pto Rico', 'Puerto Rico')
#df['PRODUCT'] = df['PRODUCT'].replace('Caja de carton pequeña', 'Caja de cartón pequeña')
df['DISCOUNT'] = df['FINAL PRICE (USD)'] / (df['AMOUNT'] * df['PRICE']) - 1
df[['CUSTOMER', 'COUNTRY', 'PRODUCT']] = df[['CUSTOMER', 'COUNTRY', 'PRODUCT']].applymap(estandarizar_texto)

In [73]:
df

,SALE ID,CUSTOMER,COUNTRY,PRODUCT,DAY,MONTH,YEAR,AMOUNT,PRICE,FINAL PRICE (USD),DISCOUNT
0,VTA001,oscar martinez,argentina,caja de carton pequeña,2,4,YEAR 1,20,120.0,2328.0,-0.03
1,VTA002,angela gutierrez,panama,caja de carton mediana,5,3,YEAR 1,30,190.0,5700.0,0.00
2,VTA003,angel campos,uruguay,caja de carton pequeña,6,8,YEAR 1,50,120.0,5700.0,-0.05
3,VTA004,alvaro arce,colombia,caja de carton grande,7,8,YEAR 1,10,250.0,2500.0,0.00
4,VTA005,yasmin marrapodi blanco,honduras,caja de carton grande,7,8,YEAR 1,15,250.0,3637.5,-0.03
...,...,...,...,...,...,...,...,...,...,...,...
92,VTA058,pablo morales,colombia,caja de carton grande,20,8,YEAR 2,50,300.0,15000.0,0.00
93,VTA059,daniela bonilla,honduras,caja de carton pequeña,17,8,YEAR 2,10,150.0,1500.0,0.00
94,VTA060,yoselin torres,puerto rico,caja de carton pequeña,11,4,YEAR 2,20,150.0,3000.0,0.00
95,VTA061,viviana espinoza,santo domingo,caja de carton grande,11,4,YEAR 2,30,300.0,9000.0,0.00
96,VTA062,viviana contreras,argentina,caja de carton pequeña,12,7,YEAR 2,50,150.0,7500.0,0.00

In [74]:
# 1. 
df[(df['YEAR'] == 'YEAR 2') | (df['YEAR'] == 'YEAR 1')]['COUNTRY'].unique()

array(['argentina', 'panama', 'uruguay', 'colombia', 'honduras',
       'puerto rico', 'santo domingo', 'chile', 'costa rica'],
      dtype=object)

In [76]:
# 2.
df[(df['PRODUCT'] == 'caja de carton pequeña') & (df['MONTH'] == 8) & (df['YEAR'] == 'YEAR 1')].groupby('COUNTRY')['AMOUNT'].sum().idxmax()

'uruguay'

In [77]:
# 3.
df[(df['PRODUCT'].str.contains('Caja', case=False, na=False)) & (df['YEAR'] != 'YEAR 0')]['PRICE'].max()

300.0

In [40]:
# 4.
df.loc[df['DISCOUNT'].idxmin(), 'CUSTOMER']

'xavier aguilar'